<a
  class="dashboard-link-card {{ if .Page.Draft }}is-draft{{ end }}"
  href="{{ .Page.Permalink }}"
>
  <ul class="dashboard-link-card-badges">
    <li>
      {{ partial "dashboard/badge-progress.html" (dict "progress" .Page.Params.progress) }}
    </li>
    <li>
      {{ partial "dashboard/badge-assignee.html" (dict "assignee" .Page.Params.assignee) }}
    </li>
  </ul>
  <div class="dashboard-link-card-texts">
    <p class="dashboard-link-card-text is-title">{{ .Page.Title }}</p>
    <p class="dashboard-link-card-text is-path">
      {{ .Page.File.LogicalName }}
    </p>
  </div>
</a>
