/* ---------------------------------------------------
// Dashboard
//------------------------------------------------- */

.dashboard {
  background-color: #ebedef;
}

/* ---------------------------------------------------
// Dashboard Header
//------------------------------------------------- */

.dashboard-header {
  background-color: transparent;
}

.dashboard-header-inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.dashboard-header-title {
  color: #5e6669;
  font-size: 1.125em;
  font-weight: 700;
}

@media (min-width: 1000px) {
  .dashboard-header-inner {
    padding: 32px 20px;
  }
}

/* ---------------------------------------------------
// Dashboard Main
//------------------------------------------------- */

.dashboard-main {
  background-color: transparent;
}

.dashboard-main-inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 20px;
}

.dashboard-main-inner .dashboard-links {
  margin-right: -20px;
  margin-left: -20px;
}

@media (min-width: 1000px) {
  .dashboard-main-inner .dashboard-links {
    margin-right: 0;
    margin-left: 0;
  }
}

/* ---------------------------------------------------
// Dashboard Haeding
//------------------------------------------------- */

.dashboard-heading {
  color: #5e6669;
  font-size: 0.75em;
  font-weight: 600;
}

.dashboard-heading:not(:first-child) {
  margin-top: 24px;
}

/* ---------------------------------------------------
// Dashboard Links
//------------------------------------------------- */

.dashboard-links:not(:first-child) {
  margin-top: 12px;
}

.dashboard-links > *:not(:first-child) {
  margin-top: 1px;
}

@media (min-width: 1000px) {
  .dashboard-links > *:not(:first-child) {
    margin-top: 2px;
  }
}

.dashboard-link {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 36px 16px 20px;
  background-color: #fff;
  text-decoration: none;
}

.dashboard-link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  width: 8px;
  height: 8px;
  border-top: 2px solid rgba(0, 0, 0, 0.18);
  border-right: 2px solid rgba(0, 0, 0, 0.18);
  transform: translateY(-50%) rotate(45deg);
  z-index: 2;
}

@media (min-width: 1000px) {
  .dashboard-link {
    border-radius: 4px;
  }
}

.dashboard-link-box {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 999px) {
  .dashboard-link-box:not(:first-child) {
    margin-top: 12px;
  }
}

@media (min-width: 1000px) {
  .dashboard-link-box:nth-child(1) {
    flex: 1 0 0%;
  }
  .dashboard-link-box:nth-child(2) {
    flex: 0 1 auto;
  }
}

.dashboard-link-title {
  color: #5e6669;
  font-size: 0.875em;
  font-weight: 500;
}

.dashboard-link-path {
  color: #6e7679;
  font-size: 0.75em;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Meiryo,
    monospace, serif;
  font-weight: 300;
  word-break: break-all;
}

/* ---------------------------------------------------
// Dashboard Footer
//------------------------------------------------- */

.dashboard-footer {
  background-color: transparent;
}

.dashboard-footer-inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}
