/* ---------------------------------------------------
// Dashboard
//------------------------------------------------- */

.dashboard {
  background-color: #ebedef;
}

/* ---------------------------------------------------
// Dashboard Header
//------------------------------------------------- */

.dashboard-header {
  background-color: transparent;
}

.dashboard-header-inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.dashboard-header-title {
  color: #5e6669;
  font-size: 1.125em;
  font-weight: 700;
}

@media (min-width: 1000px) {
  .dashboard-header-inner {
    padding: 32px 20px;
  }
}

/* ---------------------------------------------------
// Dashboard Main
//------------------------------------------------- */

.dashboard-main {
  background-color: transparent;
}

.dashboard-main-inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 20px;
}

.dashboard-main-inner > *:not(:first-child) {
  margin-top: 12px;
}

.dashboard-main-inner > .dashboard-heading:not(:first-child) {
  margin-top: 24px;
}

@media (max-width: 999px) {
  .dashboard-main-inner > .dashboard-list {
    margin-right: -20px;
    margin-left: -20px;
  }
}

/* ---------------------------------------------------
// Dashboard Haeding
//------------------------------------------------- */

.dashboard-heading {
  color: #5e6669;
  font-size: 0.75em;
  font-weight: 600;
}

/* ---------------------------------------------------
// Dashboard List
//------------------------------------------------- */

.dashboard-list {
  display: block;
}

.dashboard-list > * {
  display: block;
  background-color: #fff;
  overflow: hidden;
}

.dashboard-list > *:not(:first-child) {
  margin-top: 1px;
}

@media (min-width: 1000px) {
  .dashboard-list > * {
    border-radius: 4px;
  }
  .dashboard-list > *:not(:first-child) {
    margin-top: 2px;
  }
}

/* ---------------------------------------------------
// Dashboard Link Card
//------------------------------------------------- */

.dashboard-link-card {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 36px 16px 20px;
  background-color: #fff;
  text-decoration: none;
}

.dashboard-link-card.is-draft {
  background: repeating-linear-gradient(
    -45deg,
    #f9f9fa,
    #f9f9fa 12px,
    #f2f2f5 0,
    #f2f2f5 24px
  );
}

.dashboard-link-card::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  width: 8px;
  height: 8px;
  border-top: 2px solid rgba(0, 0, 0, 0.18);
  border-right: 2px solid rgba(0, 0, 0, 0.18);
  transform: translateY(-50%) rotate(45deg);
  z-index: 2;
}

.dashboard-link-card-badges {
  flex: 0 1 auto;
  margin-right: 16px;
}

@media (min-width: 1000px) {
  .dashboard-link-card-badges {
    display: flex;
    align-items: center;
  }
}

.dashboard-link-card-badges > * {
  display: flex;
}

@media (max-width: 999px) {
  .dashboard-link-card-badges > *:not(:first-child) {
    margin-top: 6px;
  }
}

@media (min-width: 1000px) {
  .dashboard-link-card-badges > *:not(:first-child) {
    margin-left: 6px;
  }
}

.dashboard-link-card-texts {
  flex: 1 0 0%;
  max-width: 100%;
}

@media (min-width: 1000px) {
  .dashboard-link-card-texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.dashboard-link-card-box {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
}

.dashboard-link-card-text.is-title {
  color: #5e6669;
  font-size: 0.875em;
  font-weight: 500;
}

.dashboard-link-card-text.is-path {
  color: #6e7679;
  font-size: 0.75em;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Meiryo,
    monospace, serif;
  font-weight: 300;
  word-break: break-all;
}

@media (max-width: 999px) {
  .dashboard-link-card-text:not(:first-child) {
    margin-top: 4px;
  }
}

/* ---------------------------------------------------
// Dashboard Badges
//------------------------------------------------- */

.dashboard-badges {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 20px 16px 8px;
}

.dashboard-badges > * {
  display: flex;
  align-items: center;
  padding: 12px 0 0 12px;
}

.dashboard-badges > * > .dashboard-badge {
  margin-left: 4px;
}

.dashboard-badge-title {
  color: #5e6669;
  font-size: 0.875em;
  font-weight: 500;
}

/* ---------------------------------------------------
// Dashboard Badge
//------------------------------------------------- */

.dashboard-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 6em;
  padding: 2px 8px;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 0.625em;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
}

.dashboard-badge.is-progress {
  background-color: #c9177e;
  color: #fff;
}

.dashboard-badge.is-progress.is-1 {
  background-color: #0184c0;
}

.dashboard-badge.is-progress.is-2 {
  background-color: #ebb951;
}

.dashboard-badge.is-progress.is-3 {
  background-color: #08a889;
}

.dashboard-badge.is-progress.is-4 {
  background-color: #818388;
}

.dashboard-badge.is-assignee {
  border-color: #818388;
  color: #6e7679;
}

/* ---------------------------------------------------
// Dashboard Footer
//------------------------------------------------- */

.dashboard-footer {
  background-color: transparent;
}

.dashboard-footer-inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}
