html {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    "Noto Sans Japanese", Meiryo, "Yu Gothic Medium", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  word-break: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
