{{ printf "<!-- + Header -->" | safeHTML }}
<header class="header">
  <div class="header-inner">
    <a href="#">
      <img class="header-logo" src="/img/logo.svg" alt="{{ .Site.Title }}" />
    </a>
    <nav class="header-menu-desktop">
      {{ partial "menus/main.html" . }}
    </nav>
  </div>
  <nav class="header-menu-mobile">
    <details class="menu-details">
      <summary class="menu-summary">MENU</summary>
      {{ partial "menus/main.html" . }}
    </details>
  </nav>
</header>
{{ printf "<!-- - Header -->" | safeHTML }}
