<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <!-- prettier-ignore -->
    {{ $reset := resources.Get "css/reset.css" | resources.ExecuteAsTemplate "reset.css" . }}
    {{ $dashboard := resources.Get "css/dashboard.css" | resources.ExecuteAsTemplate "dashboard.css" . }}
    {{ $styles := slice $reset $dashboard | resources.Concat "index.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon.png" />
  </head>
  <body class="dashboard">
    <header class="dashboard-header">
      <div class="dashboard-header-inner">
        <h1 class="dashboard-header-title">{{ .Site.Title }}</h1>
      </div>
    </header>
    <main class="dashboard-main">
      <div class="dashboard-main-inner">
        {{ if where .Site.Pages "Params.type" "components" }}
        <h2 class="dashboard-heading">HTMLページ</h2>
        <ul class="dashboard-link-cards">
          <!-- prettier-ignore -->
          {{ range sort (where .Site.Pages "Params.type" "page") "File.Path" }}
          <li>
            <!-- prettier-ignore -->
            {{ partial "dashboard/link-card.html" (dict "Page" .Page) }}
          </li>
          {{ end }}
        </ul>
        {{ end }} {{ if where .Site.Pages "Params.type" "components" }}
        <h2 class="dashboard-heading">コンポーネント</h2>
        <ul class="dashboard-link-cards">
          <!-- prettier-ignore -->
          {{ range  sort (where .Site.Pages "Params.type" "components") "File.Path" }}
          <li>
            <!-- prettier-ignore -->
            {{ partial "dashboard/link-card.html" (dict "Page" .Page) }}
          </li>
          {{ end }}
        </ul>
        {{ end }}
        <h2 class="dashboard-heading">進捗状況バッジ</h2>
        <ul class="dashboard-badges">
          <li>
            <span class="dashboard-badge-title">0: </span>
            {{ partial "dashboard/badge-progress.html" (dict "progress" 0) }}
          </li>
          <li>
            <span class="dashboard-badge-title">1: </span>
            {{ partial "dashboard/badge-progress.html" (dict "progress" 1) }}
          </li>
          <li>
            <span class="dashboard-badge-title">2: </span>
            {{ partial "dashboard/badge-progress.html" (dict "progress" 2) }}
          </li>
          <li>
            <span class="dashboard-badge-title">3: </span>
            {{ partial "dashboard/badge-progress.html" (dict "progress" 3) }}
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
