<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <!-- prettier-ignore -->
    {{ $reset := resources.Get "css/reset.css" | resources.ExecuteAsTemplate "reset.css" . }}
    {{ $html := resources.Get "css/html.css" | resources.ExecuteAsTemplate "html.css" . }}
    {{ $dashboard := resources.Get "css/dashboard.css" | resources.ExecuteAsTemplate "dashboard.css" . }}
    {{ $progress := resources.Get "css/progress.css" | resources.ExecuteAsTemplate "progress.css" . }}
    {{ $styles := slice $reset $html $dashboard $progress | resources.Concat "index.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon.png" />
  </head>
  <body class="dashboard">
    <header class="dashboard-header">
      <div class="dashboard-header-inner">
        <h1 class="dashboard-header-title">{{ .Site.Title }}</h1>
      </div>
    </header>
    <main class="dashboard-main">
      <div class="dashboard-main-inner">
        {{ if where .Site.Pages "Params.type" "components" }}
        <h2 class="dashboard-heading">HTMLページ</h2>
        <ul class="dashboard-links">
          <!-- prettier-ignore -->
          {{ range sort (where .Site.Pages "Params.type" "page") "File.Path" }}
          <li>
            <a
              class="dashboard-link {{ if .Draft }}is-draft{{ end }}"
              href="{{ .Permalink }}"
            >
              <div class="dashboard-link-box">
                <div class="dashboard-link-progress">
                  <!-- prettier-ignore -->
                  {{ partial "progress.html" (dict "progress" .Params.progress) }}
                </div>
                <p class="dashboard-link-title">{{ .Title }}</p>
              </div>
              <div class="dashboard-link-box">
                <p class="dashboard-link-path">{{ .File.Path }}</p>
              </div>
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end }} {{ if where .Site.Pages "Params.type" "components" }}
        <h2 class="dashboard-heading">コンポーネント</h2>
        <ul class="dashboard-links">
          <!-- prettier-ignore -->
          {{ range  sort (where .Site.Pages "Params.type" "components") "File.Path" }}
          <li>
            <a
              class="dashboard-link {{ if .Draft }}is-draft{{ end }}"
              href="{{ .Permalink }}"
            >
              <div class="dashboard-link-box">
                <p class="dashboard-link-title">{{ .Title }}</p>
              </div>
              <div class="dashboard-link-box">
                <p class="dashboard-link-path">{{ .File.Path }}</p>
              </div>
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
        <h2 class="dashboard-heading">進捗状況ラベル</h2>
        <ul class="dashboard-progress">
          <li>0: {{ partial "progress.html" (dict "progress" 0) }}</li>
          <li>1: {{ partial "progress.html" (dict "progress" 1) }}</li>
          <li>2: {{ partial "progress.html" (dict "progress" 2) }}</li>
          <li>3: {{ partial "progress.html" (dict "progress" 3) }}</li>
        </ul>
      </div>
    </main>
  </body>
</html>
