//----------------------------------------------------
// Footer
//----------------------------------------------------

.footer {
  background-color: #092d42;
}

.footer-inner {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}

.footer-copylight {
  color: #fff;
  font-size: 0.875em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}
