//----------------------------------------------------
// Header
//----------------------------------------------------

.header > .header-inner {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.header-logo {
  display: block;
  width: 194px;
  height: 40px;
}
